<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Part</title>
</head>
<body>
    <h1>Add Part</h1>
    <form action="/add_part" method="POST">
        <label for="materialID">Material ID:</label><br>
        <input type="text" id="materialID" name="materialID"><br>
        <label for="BatchID">Batch ID:</label><br>
        <input type="text" id="BatchID" name="BatchID"><br>
        <label for="CodeA">Code A:</label><br>
        <input type="text" id="CodeA" name="CodeA"><br>
        <label for="CodeB">Code B:</label><br>
        <input type="text" id="CodeB" name="CodeB"><br>
        <label for="CodeC">Code C:</label><br>
        <input type="text" id="CodeC" name="CodeC"><br>
        <label for="CodeD">Code D:</label><br>
        <input type="text" id="CodeD" name="CodeD"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
