<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parts Management</title>
</head>
<body>
    <h1>Welcome to Parts Management</h1>
    <a href="/add_part">Add Part</a>
    <br>
    <a href= "/remove_part"> Remove Part</a>
    <br>
    <a href="/show_table">Show Parts</a>
    <br>
    <a href="/query_andor">Query And/Or</a>
    <br>
    <a href= "/where_clause"> Where Clause</a>
    <br>
    <a href= "/update_records"> Update Records</a>

</body>
</html>
